<!DOCTYPE html5>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMP Advocacia</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header>
        <nav class="nav-menu-back">
            <ul class="nav-menu">
                <li><a href="/">HOME</a></li>
                <li><a href="/">SOBRE NÓS</a></li>
                <li><a href="/">SERVIÇOS</a></li>
                <li><a href="/">GALERIA</a></li>
                <li><a href="/">TECNO JUS</a></li>
            </ul>
            <button class="btn-nav">AGENDE UMA CONSULTA</button>
        </nav>
    </header>

    <main></main>
</body>

</html>